[Unit]
Description=NewsApp
Documentation=https://github.com/gourmetjs/news-ssr
After=network.target

[Service]
Environment=NODE_ENV=production
Environment=STAGE=prod
Environment=PORT=3080
Environment=PG_CONNECTION_STRING=postgres://postgres@localhost/postgres
Environment=NEWS_API_KEY=0123456789abcdef0123456789abcdef
Type=simple
User=nodejs
ExecStart=/usr/bin/node /var/app/news-ssr/lib/server.js
TimeoutStopSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
